:root {
    --first-color: rgba(232,244,234,1);
    --second-color: rgba(232,244,234,0.1);
  }

div.miniexercise {
	border-color: var(--first-color);
	background-color: var(--second-color);
}

div.miniexercise p.admonition-title {
	background-color: var(--first-color);
}

div.miniexercise p.admonition-title::before {
    content: "\f303";
}

/* Lösung */
div.minisolution{
    border-color: var(--first-color);
    background-color: none;
  }
  
  div.minisolution p.admonition-title {
    background-color: transparent;
    text-decoration: none;
  }
  
  /* Remove content box */
  div.minisolution p.admonition-title::before {
    content: none;
  }
  
